button{
    /* width: 80px; */
    padding: 20px;
    font-size:25px;
    color:  white;
    margin-left:20px;
    background-color:green;
    border-radius:30px
}


  #changeText {
    padding-left: 20px;
    font-size:25px;
    color: red
  }

  p {
    padding-left: 20px;
    font-size:25px;
    color: black
  }
  body{
    background-image: url('https://i.imgur.com/f7DnkeG.png'); 
    background-size:cover; 
    background-repeat: no-repeat
  }
  h2{
    background-color: white;
    padding:5px;
    border: 2px solid green;
  }
  

  @media (max-width: 600px) {
    /* Styles for specific screen resolutions */
    h2 {
      width:190px
    }
    button{
      width:80px;
      font-size: 15px
    }
    #changeText {
      padding-left: 10px;
      font-size:15px;
    }
    p{
      font-size:15px;
    }
    body{
      background-size:600px 650px;
    }
  }